/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Center {
  position: absolute;
  background: #F5F3E4;

  width: 56%;
  min-height: 100vh;
  left: 22%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  z-index: 0;
  /* Sends to back of page */
}

.Bearmaps_Logo {
  /* BearMaps Logo */
  position: absolute;
  height: auto;
  width: 250px;
  margin: 40px 40px;
}

.Profile_Picture {
  /* Profile Picture */
  height: auto;
  width: 200px;
  margin-top: 25px;
}

.Profile_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  /* width: 600px; */
}

.Profile_Content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 700px;
}

.Profile_Info {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  width: 600px;
  gap: 25px;
}

h2 {
  font-family: 'Roboto';
  font-size: 20px;
}

h4,
.course {
  background-color: white;
  font-family: 'Roboto';
  border-radius: 5px;
  font-weight: bold;
  color: #28A268;
  font-size: 20px;
  padding: 10px;
}

.name,
.email,
.degree,
.year {
  height: 50px;
  width: auto;
  left: 0;
}

.course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course select {
  width: 40%;
  padding: 5px; 
  font-size: 16px;
  font-family: 'Roboto';
  border: 1px solid lightgray; 
  border-radius: 5px;
  color: black; 
}

.course select:hover {
  box-shadow: 0 0 0 3px rgba(0, 124, 65, 0.2);
}

.submit {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;

  background-color: #007C41;
  color: #FFDB05;

  margin-top: 5px;
  padding: 10px;

  border-radius: 5px;
  border: none;
}

.submit:hover {
  background-color: #28A268;
  cursor: pointer;
}

.selectedContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
  width: 100%;
  gap: 10px;
}

.selectedCourses {
  background-color: grey;
  color: black;

  padding: 10px;
  width: 130px;

  font-family: 'Roboto';
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cancel {
  font-family: 'Roboto';
  font-weight: bold;

  color: red;

  padding: 0 5px;
  border-radius: 5px;
  border: none;
}

.cancel:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}