* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* use gap to seperate the items instead of padding? */
.navbar-container {
  background-color: #007c41;
  height: 7vh;
  padding: 10px;
  color: #fff;

  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  padding: 5px;
  width: 25%;
  height: auto;
}

.title {
  padding: 5px;
  width: 75%;
  font-size: 1.75rem;
}

.search-bar {
  flex-grow: 1;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
}

.submit-btn {
  min-width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #28a268;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.submit-btn:hover {
  background-color: #1d7048;
  cursor: pointer;
  border: 2px solid #000;
}

.submit-btn:active {
  background-color: #155e3a; /* Darker green */
}
