/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Center {
  position: absolute;
  background: #F5F3E4;

  width: 56%;
  min-height: 100vh;
  left: 22%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  z-index: 0;
  /* Sends to back of page */
}

.Bearmaps_Logo {
  /* BearMaps Logo */
  position: absolute;
  height: auto;
  width: 250px;
  margin: 40px 40px;
}

.Profile_Picture {
  /* Profile Picture */
  height: auto;
  width: 200px;
  margin-top: 25px;
}

.Profile_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  /* width: 600px; */
}

.Profile_Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 700px;
}

.Profile_Info {
  display: flex;
  flex-direction: row;

  margin-top: 10px;
  width: 700px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0px 25px 10px 0px;
  width: 300px;
  height: 200px;
}

h2 {
  font-family: 'Roboto';
  font-size: 20px;
}

h4,
.courses,
.current,
.studysesh {
  background-color: white;
  font-family: 'Roboto';
  border-radius: 5px;
  font-weight: bold;
  color: #28A268;
  font-size: 20px;
  padding: 10px;
}

.email,
.degree,
.year {
  height: 50px;
  width: auto;
  left: 0;
}

.bio {
  height: 200px;
  width: 400px;
  left: 50%;
}

.courses,
.current,
.studysesh {
  margin: 10px 0px;
  width: 700px;
}

.courses, .studysesh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.studysesh select, .courses select {
  width: 50%;
  padding: 5px; 
  font-size: 16px;
  font-family: 'Roboto';
  border: 1px solid lightgray; 
  border-radius: 5px;
  color: black; 
}

.studysesh select:hover, .courses select:hover {
  box-shadow: 0 0 0 3px rgba(0, 124, 65, 0.2);
}

.message {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;

  background-color: #007C41;
  color: #FFDB05;

  margin-top: 5px;
  padding: 10px;

  border-radius: 5px;
  border: none;
}

.message:hover {
  background-color: #28A268;
  cursor: pointer;
}

.current {
  display: flex;
  flex-direction: row;
  align-items: center; 
  padding: 5px 10px;
}

.circles {
  display: flex;
  margin-right: -25px;
}

.circle1, .circle2, .circle3 {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
}

.circle1 {
  background-color: #28A268;
}

.circle2 {
  background-color: #42FF00; 
  transform: translateX(20%);
}

.circle3 {
  background-color: #FF0000; 
  transform: translateX(-140%);
}
