import React from 'react'; import './{{kebabCase name}}.css'; const
{{pascalCase name}}
= () => { return (
<div className="{{kebabCase name}}">
  {/* Add your component content here */}
</div>
); }; export default
{{pascalCase name}};